node_modules
**/node_modules
**/dist
**/*.tsbuildinfo
contracts
trex
docs
.git
scripts/.demo-data
scripts/last-demo-run.json
*.wasm
coverage
logs
.env
.env.*
.DS_Store
**/.env
**/.env.*
**/coverage
**/logs
**/.DS_Store
